<div class="row">
    <div class="col-12">
        <h1 class="center">
            Escoge el usuario
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="info">
            Debes escoger un usuario para acceder a los distintos servicios que ofrecemos, cada uno tiene una identidad diferente y los resultados de los servicios pueden variar entre ellos.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12 center center-vertical">
       <div class="container">
        <div class="row">
            <div class="col-4 sel-user">
                <div class="row">
                    <div class="col-12">
                        <img src="assets/user1.png" class="icon center center-vertical" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="bold center zero">
                            Juan
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="light center">
                            Estudiante
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 sel-user">
                <div class="row">
                    <div class="col-12">
                        <img src="assets/user1.png" class="icon center center-vertical" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="bold center zero">
                            Claudia
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="light center">
                            Empresaria
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 sel-user">
                <div class="row">
                    <div class="col-12">
                        <img src="assets/user1.png" class="icon center center-vertical" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="bold center zero">
                            Roberto
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="light center">
                            Empleado
                        </p>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
</div>
<div class="row">
    <div class="col-12 center center-vertical">
        <button type="button" class="btn btn-warning" mat-button matStepperNext>Siguiente</button>
    </div>
</div>
