<div class="row">
  <div class="col-12">
    <h1 class="center">Escoge el usuario</h1>
  </div>
</div>
<div [ngSwitch]="userSel">
  <div *ngSwitchCase="'list'">
    <div class="row">
      <div class="col-12">
        <p class="info">
          Debes escoger un usuario para acceder a los distintos servicios que
          ofrecemos, cada uno tiene una identidad diferente y los resultados de
          los servicios pueden variar entre ellos.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 center center-vertical">
        <div class="container">
          <div class="row">
            <div
              class="col-4 sel-user"
              (click)="changeUser(1)"
              [ngClass]="{ selected: user === 1 }"
            >
              <div class="row">
                <div class="col-12">
                  <img
                    src="assets/user1.png"
                    class="icon center center-vertical"
                    alt=""
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="bold center zero">Juan</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="light center">Estudiante</p>
                </div>
              </div>
            </div>
            <div
              class="col-4 sel-user"
              (click)="changeUser(2)"
              [ngClass]="{ selected: user == 2 }"
            >
              <div class="row">
                <div class="col-12">
                  <img
                    src="assets/user2.png"
                    class="icon center center-vertical"
                    alt=""
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="bold center zero">Claudia</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="light center">Empresaria</p>
                </div>
              </div>
            </div>
            <div
              class="col-4 sel-user"
              (click)="changeUser(3)"
              [ngClass]="{ selected: user == 3 }"
            >
              <div class="row">
                <div class="col-12">
                  <img
                    src="assets/user3.png"
                    class="icon center center-vertical"
                    alt=""
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="bold center zero">Roberto</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="light center">Empleado</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 center center-vertical">
        <button type="button" [disabled]="user === null" class="btn btn-warning" (click)="changeStateUser('qr')">
          Siguiente
        </button>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'qr'">
    <div class="row">
        <div class="col-12">
          <p class="info">
            Escanea los dos códigos QR a continuación para asignarte las debidas identidades de tu usuario en tu billetera. Es importante escanear ambos codigos para tener la identidad completa y no tener incovenientes en pasos posteriores.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
            <div class="center center-vertical">
                <img class="qr" *ngIf="user === 1"  src="assets/qr11.png" alt="" srcset="">
                <img class="qr" *ngIf="user === 2"  src="assets/qr21.png" alt="" srcset="">
                <img class="qr" *ngIf="user === 3"  src="assets/qr31.png" alt="" srcset="">
            </div>
        </div>
        <div class="col-6">
          <div class="center center-vertical">
              <img class="qr" *ngIf="user === 1"  src="assets/qr12.png" alt="" srcset="">
              <img class="qr" *ngIf="user === 2"  src="assets/qr22.png" alt="" srcset="">
              <img class="qr" *ngIf="user === 3"  src="assets/qr32.png" alt="" srcset="">
          </div>
      </div>
      </div>
    <div class="row">
        <div class="col-12 center center-vertical">
          <button type="button" class="btn btn-warning"  (click)="continue()" mat-button matStepperNext>
            Siguiente
          </button>
        </div>
      </div>
  </div>
</div>
