<div class="row">
    <div class="col-12">
        <h1 class="center">
            Escoge tu billetera
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="info">
            Primero, debes configurar una billetera que funcione bajo el protocolo iden3 para autogestionar tu información en los distinros tramites que te vamos a presentar. Si no dispones de una billetera virtual con estas caracteristicas puedes descargarla aqui:
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 center center-vertical">
        <a href="http://tosto.re/polygonid">
        <div class="card" id="wallet">
            <div class="row">
                <div class="col-3">
                    <img src="assets/polid.png" class="icon center center-vertical" alt="">
                    <div class="row">
                        <div class="col-12">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <p class="bold left zero">
                                Polygon ID
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 left">
                            <p class="light">
                                Polygon
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3 center-vertical">
                    <p class="bold">
                        USAR
                    </p>
                </div>
            </div>
            

        </div>
        </a>
    </div>
    <div class="col-md-6 center center-vertical">
        <button type="button" class="btn btn-warning" mat-button matStepperNext>Siguiente</button>
    </div>
</div>
