<div class="row">
    <div class="col-12">
        <h1 class="center">
            ¡Bienvenido!
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="info">
            El objetivo de este proyecto es mejorar los procedimientos de autenticación y acceso a diferentes servicios, respetando al máximo la privacidad del usuario a través de un sistema que le permita la autogestión de su identidad, garantizando la veracidad de la información presentada a una entidad. Todo esto, a través del uso de las herramientas que ofrece la tecnología Blockchain
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 center center-vertical">
            <img src="assets/blockchain.png" alt="" srcset="">
        </div>
        <div class="col-md-6 center center-vertical">
            <button type="button" class="btn btn-warning" mat-button matStepperNext>Siguiente</button>
        </div>
    </div>
</div>

